<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/header_design.css">
  <link rel="stylesheet" href="../styles/index.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Pure-Life</title>
</head>

<body>
  <!--Header component-->
  <header>
    <div class="companylogo">
      <h1>Pure<span>LIFE</span></h1>
    </div>

    <div class="menu-container" id="menu-container">
      <div class="first">
        <a href="index.html"><span class="home">HOME</span></a>
        <a href="./index.html#view-services"><span class="contactservice">Services</span></a>
        <div class="dropdown">
          <a href="./index.html#view-services"><span class="services">Services</span></a>
          <a href="service_yoga_page.html"><span class="services">Yoga</span></a>
          <a href="meditation_service_page.html"><span class="services">Meditation</span></a>
          <a href="stretching_Service.html"><span class="services">Stretching</span></a>
          <a href="healthy_habits_page.html"><span class="services">Healthy Habits</span></a>
          <a href="page_meal_Planner.html"><span class="services">Meal Planner</span></a>
        </div>
        
        <a href="contactus_page.html"><span class="contact">Contact</span></a>
      </div>
    </div>

    <div class="contactlink">
      <button  
title="Register User" onclick="window.location.href='./user_registration_page.html';"><i class='bx bxs-user-plus'></i></button>
    </div>

    <div class="menu-btn">
      <i class='bx bx-menu'></i>
    </div>
  </header>

  <!--Main Content-->
  <section class="showup-container">
    <div class="banner-text">
      <h2><i class='bx bxs-donate-heart'></i> Pure Life</h2>
    </div>
    <div class="banner-tagline">
      <h3>Health is Wealth <br><span style="font-size: 1.2vw; color: orange;">We are Striving to assist at you door step.</span> </h3>
    </div>
    <div class="banner-link">
      <a href="#view-services">
        <h3>View More</h3>
      </a>
    </div>
  </section>
  <section class="grid-container" id="view-services">
    <div class="grid-wrapper">
      <div class="our_service">
        <div class="card">
          <img class='card-img' src="https://res.cloudinary.com/peloton-cycle/image/fetch/https://images.ctfassets.net/6ilvqec50fal/157zqE6agiA5fVCZWkzh70/d4bbdf26f95d3f71e4f41185a57020f2/OG-what-is-power-yoga.jpg" alt="stretching-card">
          <div class="card-content">
            <h1 class="card-header">Stretching</h1>
            <p class="card-text">
              Stretching is a great procedure to boost your physical and mental wellness. Regular stretching can improve
              your range of motion, flexibility, and athletic performance. Learn the benefits of stretching by including
              it into your everyday routine.
            </p>
            <button class="card-btn"><a href="./stretching_Service.html" >Read <i class='bx bxs-chevrons-right'></i></a></button>
          </div>
        </div>
      </div>
      <div class="our_service">
        <div class="card">
          <img class='card-img' src="https://c.ndtvimg.com/2023-01/rkpb0rhg_heart-diet_625x300_02_January_23.jpg" alt="healthy-card">
          <div class="card-content">
            <h1 class="card-header">Opt Healthy Habits</h1>
            <p class="card-text">
              Healthy practices helps create a foundation for one's physical, mental and emotional welfare. This can be
              accomplished by a range of activities such as eating good meals, getting good sleep and exercising
              consistently. Checkout our Meal Planner.
            </p>
            <button class="card-btn"><a href="./healthy_habits_page.html">Read <i
                  class='bx bxs-chevrons-right'></i></a></button>
          </div>
        </div>
      </div>
      <div class="our_service">
        <div class="card">
          <img class='card-img' src="https://static.toiimg.com/imagenext/toiblogs/photo/readersblog/wp-content/uploads/2022/11/21_06_2020-21_06_2020-yoga_divas_20417405_20418628.jpg" alt="yoga-card">
          <div class="card-content">
            <h1 class="card-header">Yoga</h1>
            <p class="card-text">
              Yoga focuses on establishing a connection between the body, mind, and soul. It's an effective strategy to
              relieve stress, increase flexibility, and build strength. Why not give yoga a try and see how it may help
              you?
            </p>
            <button class="card-btn"><a href="./service_yoga_page.html">Read <i class='bx bxs-chevrons-right'></i></a></button>
          </div>
        </div>
      </div>
      <div class="our_service">
        <div class="card">
          <img class='card-img' src="https://images.healthshots.com/healthshots/en/uploads/2022/05/11184715/Yoga-for-weight-loss.jpg" alt="meditation-card">
          <div class="card-content">
            <h1 class="card-header">Meditation</h1>
            <p class="card-text">
              Meditation is the practise of focussing one's mind for a period of time. Regular meditation can lead to
              better physical and mental health, and a sense of inner calm and harmony. Why not see what it can do for
              you?
            </p>
            <button class="card-btn"><a href="./meditation_service_page.html">Read <i class='bx bxs-chevrons-right'></i></a></button>
          </div>
        </div>
      </div>
      
      <div class="our_service">
        <div class="card">
          <img class='card-img' src="https://media.self.com/photos/5fe36191fa75923c77cd821f/4:3/w_2560%2Cc_limit/GettyImages-1128962609.jpg" alt="meal-card">
          <div class="card-content">
            <h1 class="card-header">Diet Planner</h1>
            <p class="card-text">
              Introducing the ultimate LIFE Meal Planner. With our easy-to-use platform, you can efficiently prep, track
              and organise your meals in a few simple clicks! Welcome to a more healthier you!
            </p>
            <button class="card-btn"><a href="./page_meal_Planner.html">Read <i class='bx bxs-chevrons-right'></i></a></button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer>
    <div class="socialicons">
      <a href="https://www.instagram.com" target="_blank"><i class='bx bxl-instagram-alt' style="color: rgb(187, 42, 187); font-size: 1.4vw;"></i></a>
      <a href="https://www.twitter.com" target="_blank"><i class='bx bxl-twitter'  style='color:rgb(0, 162, 255); font-size: 1.4vw;' ></i></a>
      <a href="https://www.facebook.com" target="_blank"><i class='bx bxl-facebook-circle' style='color:#005cff; font-size: 1.4vw;'  ></i></a>
      <a href="https://www.youtube.com" target="_blank"><i class='bx bxl-youtube' style='color:#ff0000; font-size: 1.4vw;'  ></i></a>
    </div>
    <p class="footer-brand">
      &copy; PureLIFE 2023 - Ujwal Mamidi, Justin John
    </p>
  </footer>
 <script src="../scripts/menuopen.js"></script>
</body>

</html>