<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/header_design.css">
  <link rel="stylesheet" href="../styles/components.css">
  <link rel="stylesheet" href="../styles/index.css">
  <link rel="stylesheet" href="../styles/mealplanner_page.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Life</title>
</head>
<body>
  <!--Header component-->
  <header>
    <div class="companylogo">
      <h1>Pure<span>LIFE</span></h1>
    </div>

    <div class="menu-container" id="menu-container">
      <div class="first">
        <a href="index.html"><span class="home">HOME</span></a>

        <a href="./index.html#view-services"><span class="contactservice">Services</span></a>
        <div class="dropdown">
          <a href="./index.html#view-services"><span class="services">Services</span></a>
          <a href="service_yoga_page.html"><span class="services">Yoga</span></a>
          <a href="meditation_service_page.html"><span class="services">Meditation</span></a>
          <a href="stretching_Service.html"><span class="services">Stretching</span></a>
          <a href="healthy_habits_page.html"><span class="services">Healthy Habits</span></a>
          <a href="page_meal_Planner.html"><span class="services">Meal Planner</span></a>
        </div>
        <a href="contactus_page.html"><span class="contact">Contact</span></a>
      </div>
    </div>

    <div class="contactlink">
      <button title="Register User" ><i onclick="window.location.href='./user_registration_page.html';" class='bx bxs-user-plus'></i></button>
    </div>

    <div class="menu-btn">
      <i class='bx bx-menu'></i>
    </div>
  </header>

  <div class="meal-planner-container">
      <form>
        <span id="items-to-delete">
          <h3>Select your diet. </h3>
          <select id="diet-type">
            <option value = "diet-type-default">SELECT DIET</option>
            <option value = "Anything">Anything</option>
            <option value = "Paleo">Paleo</option>
            <option value = "Vegetarian">Vegetarian</option>
            <option value = "Vegan">Vegan</option>
          </select> <br>
  
          <label for="calories">I need </label>
          <input type="text" id="calorie-input" name="calories" placeholder="1234">
          <label for="calories"><span id="calorie-label">calories</span></label><br><br>
          <label for="meals">in</label>
          <select id="meal-count">
            <option value = "meal-count-default">Meal Count</option>
            <option value = "1">1</option>
            <option value = "2">2</option>
            <option value = "3">3</option>
            <option value = "4">4</option>
            <option value = "5">5</option>
          </select>
          <label for="calories">meals</label> <br><br>
        </span>
       
        <input id="submit-button-meals" type="submit" style="cursor: pointer;" value="GENERATE PLAN" onclick="handlesubmit(); return false">
      </form>
  </div>
  <div class="meal-result-container">
        <h1>MEAL PLAN</h1>
    <div class="meal-card" id="meal-breakfast-id">
      <h2><span id="breakfast-header"></span></h2>
      <p><span id="breakfast-meals"></span></p>
      <p><span id="breakfast-calories-total"></span></p>
    </div>

    <div class="meal-card" id="meal-lunch-id">
      <h2><span id="lunch-header"></span></h2>
      <p><span id="lunch-meals"></span></p>
      <p><span id="lunch-calories-total"></span></p>
    </div>

    <div class="meal-card"  id="meal-dinner-id">
      <h2><span id="dinner-header"></span></h2>
      <p><span id="dinner-meals"></span></p>
      <p><span id="dinner-calories-total"></span></p>
    </div>

    <div class="meal-card" id="meal-snack-id">
      <h2><span id="snack-header"></span></h2>
      <p><span id="snack-meals"></span></p>
      <p><span id="snack-calories-total"></span></p>
    </div>
    <br/> 
    <p><b><span id="total-calories-result"></span></b></p>
  </div>
 
  <script src="../scripts/meal-planner.js"></script>
  <script src="../scripts/menuopen.js"></script>
  <!-- Footer -->
  <footer>
    <div class="socialicons">
      <a href="https://www.instagram.com" target="_blank"><i class='bx bxl-instagram-alt' style="color: rgb(187, 42, 187); font-size: 1.4vw;"></i></a>
      <a href="https://www.twitter.com" target="_blank"><i class='bx bxl-twitter'  style='color:rgb(0, 162, 255); font-size: 1.4vw;' ></i></a>
      <a href="https://www.facebook.com" target="_blank"><i class='bx bxl-facebook-circle' style='color:#005cff; font-size: 1.4vw;'  ></i></a>
      <a href="https://www.youtube.com" target="_blank"><i class='bx bxl-youtube' style='color:#ff0000; font-size: 1.4vw;'  ></i></a>
    </div>
    <p class="footer-brand">
      &copy; PureLIFE 2023 - Ujwal Mamidi, Justin John
    </p>
  </footer>
</body>
