<!DOCTYPE html>
<head>
  <title>Yoga</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/components.css">
  <link rel="stylesheet" href="../styles/header_design.css">
  <link rel="stylesheet" href="../styles/index.css">
  
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <!-- NavBar -->
  <header>
    <div class="companylogo">
      <h1>Pure<span>LIFE</span></h1>
    </div>

    <div class="menu-container" id="menu-container">
      <div class="first">
        <a href="index.html"><span class="home">HOME</span></a>

        <a href="./index.html#view-services"><span class="contactservice">Services</span></a>
        <div class="dropdown">
          <a href="./index.html#view-services"><span class="services">Services</span></a>
          <a href="service_yoga_page.html"><span class="services">Yoga</span></a>
          <a href="meditation_service_page.html"><span class="services">Meditation</span></a>
          <a href="stretching_Service.html"><span class="services">Stretching</span></a>
          <a href="healthy_habits_page.html"><span class="services">Healthy Habits</span></a>
          <a href="page_meal_Planner.html"><span class="services">Meal Planner</span></a>
        </div>
        <a href="contactus_page.html"><span class="contact">Contact</span></a>
      </div>
    </div>

    <div class="contactlink">
      <button  
title="Register User" onclick="window.location.href='./user_registration_page.html';"><i class='bx bxs-user-plus'></i></button>
    </div>

    <div class="menu-btn">
      <i class='bx bx-menu'></i>
    </div>
  </header>
  
  <!-- Main-Content -->
  <main>
    <div class="main-container">
      <div class="heading">
        <h1>Life full of YOga</h1>
      </div>
      
      <section class="text-container">
        <img style="object-fit: cover; width: 80vw; height: 80%; padding-bottom: 2vw;" src="https://static01.nyt.com/images/2016/12/02/well/move/yoga_body_images-slide-NY4R/yoga_body_images-slide-NY4R-videoSixteenByNineJumbo1600-v2.jpg" alt="yoga-pose">
        <div class="text-content">
          The Vedic tradition of India and the Himalayas, dating back more than 2500 years, served as the foundation for this ancient system of ideas, principles, and practises. It is a system that acknowledges the multifaceted aspect of the human being and focuses largely on the nature and functioning of the mind. It is founded on experiential practise and self-inquiry.
          Yoga is an ancient Indian physical, mental, and spiritual discipline. It entails a number of techniques, such as physical postures, breathing exercises, and meditation, with the objective of gaining physical and mental well-being as well as spiritual enlightenment. Yoga is a popular type of exercise and stress release that has been found to provide a variety of health effects, including improved flexibility, strength, and balance, as well as reduced stress and anxiety.
          Yoga can also help people develop self-awareness and mindfulness, and for others, it can be a spiritual practise that allows them to connect with something more than themselves. In general, yoga is a fantastic tool for self-care and general wellbeing and can be a useful supplement to any fitness or wellness practise.
        </div>
        <h1 style="text-align: center; font-size: 3vw;">Best Yoga Poses To Peform.</h1>
        <div class="text-content">
          Here are some popular poses that are widely thought to be good for overall health and well-being:
          Downward-Facing Dog (Adho Mukha Svanasana): This position stretches the entire body, especially the hamstrings, calves, and spine. It can also aid in the development of upper-body strength.
          Warrior II (Virabhadrasana II): This posture expands the hips and chest while strengthening the legs and core. It can also aid with balance.
          Vrikshasana (Tree Pose): This pose strengthens the legs and core while also improving balance and attention.
          Bhujangasana (Cobra Position): This pose strengthens the upper body, especially the back and shoulders. It can also help relieve back pain and strain.
        </div>
      </section>
      <div class="video-container">
        <iframe src="https://www.youtube.com/embed/j7rKKpwdXNE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
  </main>

  <!-- Footer -->
  <footer  style="position: fixed;
  bottom: 0;
  left: 0;
  right: 0;">
    <div class="socialicons">
      <a href="https://www.instagram.com" target="_blank"><i class='bx bxl-instagram-alt' style="color: rgb(187, 42, 187); font-size: 1.4vw;"></i></a>
      <a href="https://www.twitter.com" target="_blank"><i class='bx bxl-twitter'  style='color:rgb(0, 162, 255); font-size: 1.4vw;' ></i></a>
      <a href="https://www.facebook.com" target="_blank"><i class='bx bxl-facebook-circle' style='color:#005cff; font-size: 1.4vw;'  ></i></a>
      <a href="https://www.youtube.com" target="_blank"><i class='bx bxl-youtube' style='color:#ff0000; font-size: 1.4vw;'  ></i></a>
    </div>
    <p class="footer-brand">
      &copy; PureLIFE 2023 - Ujwal Mamidi, Justin John
    </p>
  </footer>

  <script src="../scripts/menuopen.js"></script>
</body>
</html>