<!DOCTYPE html>
<head>
  <title>Stretching</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/header_design.css">
  <link rel="stylesheet" href="../styles/components.css">
  <link rel="stylesheet" href="../styles/index.css">
  
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <!-- NavBar -->
  <header>
    <div class="companylogo">
      <h1>Pure<span>LIFE</span></h1>
    </div>

    <div class="menu-container" id="menu-container">
      <div class="first">
        <a href="index.html"><span class="home">HOME</span></a>

        <a href="./index.html#view-services"><span class="contactservice">Services</span></a>
        <div class="dropdown">
          <a href="./index.html#view-services"><span class="services">Services</span></a>
          <a href="service_yoga_page.html"><span class="services">Yoga</span></a>
          <a href="meditation_service_page.html"><span class="services">Meditation</span></a>
          <a href="stretching_Service.html"><span class="services">Stretching</span></a>
          <a href="healthy_habits_page.html"><span class="services">Healthy Habits</span></a>
          <a href="page_meal_Planner.html"><span class="services">Meal Planner</span></a>
        </div>
        <a href="contactus_page.html"><span class="contact">Contact</span></a>
      </div>
    </div>

    <div class="contactlink">
      <button  
title="Register User" onclick="window.location.href='./user_registration_page.html';"><i class='bx bxs-user-plus'></i></button>
    </div>

    <div class="menu-btn">
      <i class='bx bx-menu'></i>
    </div>
  </header>
  
  <!-- Main-Content -->
  <main>
    <div class="main-container">
      <div class="heading">
        <h1>Stretching - Why Should You Do It?</h1>
      </div>
      
      <section class="text-container">
        <img style="width: 100%; object-fit: cover; border-radius: 10px; " src="https://images.everydayhealth.com/images/can-you-overdo-it-with-yoga-1440x810.jpg" alt="stretch-pose">
        <div class="text-content">
          Stretching is a type of physical activity that involves moving various areas of your body, such as your muscles and joints, through their full range of motion. Stretching is done to promote flexibility, which is your muscles' capacity to move over a wide range of motion without feeling stiff or limited. Stretching simply trains your muscles to move more freely and comfortably, which can minimise the chance of injury and enhance overall physical function and performance. Stretching can also aid to enhance blood flow, which can speed up recovery and lessen muscular tiredness. Stretching can also help to relieve stress and tension in the body. It can also aid with focus and concentration, as well as produce sensations of calm and relaxation.
          Stretching can also be used to prepare the body for an exercise or to cool down after a workout, which can assist to avoid injuries from happening during intensive physical activity.Extending should be done after warming up, not before, because stretching cold muscles might result in damage. Also, it's important to listen to your body and not to push too hard, as overstretching can also cause injury.
        </div>
        <h1 style="text-align: center; font-size: 3vw; text-decoration:underline;">Best Stretches That Targets Body.</h1>
        <div class="text-content">
          Full Body Stretch: This stretch combines many stretches to encompass the entire body. To begin, stand tall with your feet shoulder-width apart. Then, raise your arms to the heavens and try to touch your hands together. From there, lean forwards and stretch down to your toes while keeping your knees slightly bent. Bring your arms to the ground besides your feet after you've reached your toes. Maintain as straight a back as possible. This stretch can be repeated several times.
          Quad Stretch: Stand tall with your feet together for a quad stretch. Bring your right knee to your buttocks and bring your heel to your buttocks. Maintain a straight left leg while holding your ankle with your right hand. The stretch should be felt at the front of your thigh.
        </div>
      </section>
      <div class="video-container">
        <iframe src="https://www.youtube.com/embed/j7rKKpwdXNE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </main>

  <!-- Footer -->
  <footer   style="position: fixed;
  bottom: 0;
  left: 0;
  right: 0;">
    <div class="socialicons">
      <a href="https://www.instagram.com" target="_blank"><i class='bx bxl-instagram-alt' style="color: rgb(187, 42, 187); font-size: 1.4vw;"></i></a>
      <a href="https://www.twitter.com" target="_blank"><i class='bx bxl-twitter'  style='color:rgb(0, 162, 255); font-size: 1.4vw;' ></i></a>
      <a href="https://www.facebook.com" target="_blank"><i class='bx bxl-facebook-circle' style='color:#005cff; font-size: 1.4vw;'  ></i></a>
      <a href="https://www.youtube.com" target="_blank"><i class='bx bxl-youtube' style='color:#ff0000; font-size: 1.4vw;'  ></i></a>
    </div>
    <p class="footer-brand">
      &copy; PureLIFE 2023 - Ujwal Mamidi, Justin John
    </p>
  </footer>

  <script src="../scripts/menuopen.js"></script>
</body>
</html>